<h2>Detalle Ventas</h2> 

<hr/>
<div *ngIf="employee">
  <div>
    <label><b>Region: </b></label> {{employee.firstName}}
  </div>
  <div>
    <label><b>Country: </b></label> {{employee.lastName}}
  </div>
  <div>
    <label><b>Item Type: </b></label> {{employee.emailId}}
  </div>  
  <div>
    <label><b>Sales Channel: </b></label> {{employee.emailId}}
  </div>  
  <div>
    <label><b>Order Priority: </b></label> {{employee.emailId}}
  </div>  
  <div>
    <label><b>Order Date: </b></label> {{employee.emailId}}
  </div>  
  <div>
    <label><b>Order Id: </b></label> {{employee.emailId}}
  </div>  
  <div>
    <label><b>Ship Date: </b></label> {{employee.emailId}}
  </div>  
  <div>
    <label><b>Units Sold: </b></label> {{employee.emailId}}
  </div>  
  <div>
    <label><b>Unit Price: </b></label> {{employee.emailId}}
  </div>  
  <div>
    <label><b>Unit Cost: </b></label> {{employee.emailId}}
  </div>  
  <div>
    <label><b>Total Revenue: </b></label> {{employee.emailId}}
  </div>  
  <div>
    <label><b>Total Cost: </b></label> {{employee.emailId}}
  </div>  
  <div>
    <label><b>Total Profit: </b></label> {{employee.emailId}}
  </div> 
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Volver a Lista de Ventas</button><br>